### Eclipse ###
bin/*
/.classpath
/.project
/.settings
*.class
/.gradle/
/target/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### System ###
*.log
*.temp
/out/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### Project ###
nazha/nazha-test/src/main/java/com/iterlife/nazha/test/TraceIdService.java
nazha/nazha-test/src/main/java/com/iterlife/nazha/test/MatrixTest.java
